* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* about navigaton start*/

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 23, 42, 0.95); /* semi-transparent dark */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.navbar .logo a {
    color: #38bdf8;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .nav-links li a {
    color: #cbd5f5;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navbar .nav-links li a:hover {
    color: #38bdf8;
    transform: scale(1.05);
}

/* about navigaton  end*/


/* hero section start */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0px;
    min-height: 60vh;
}

.hero-text h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-text span {
    color: #38bdf8;
}

.hero-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #94a3b8;
}

.hero-text p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #cbd5f5;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.primary {
    background: #38bdf8;
    color: black;
}

.secondary {
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.btn:hover {
    transform: scale(1.05);
}

.hero-img img {
    width: 260px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

/* hero section end */

/* about section start */
.about {
    padding: 40px 10%;
    margin-top: 10px;
}

.about h2 {
    font-size: 32px;
    color: #38bdf8;
    margin-bottom: 15px;
}

.about p {
    font-size: 17px;
    line-height: 1.8;
    color: #cbd5f5;
    padding-top: 10px;
}

/* about section end */
/* skills section start */
.skills {
    padding: 30px 10%;
}

.skills h2 {
    text-align: center;
    font-size: 32px;
    color: #38bdf8;
    margin-bottom: 40px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.skill-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-8px);
    border: 1px solid #38bdf8;
}

.skill-card h3 {
    margin-bottom: 15px;
    color: #38bdf8;
}

.skill-card ul {
    list-style: none;
}

.skill-card li {
    margin-bottom: 8px;
    color: #cbd5f5;
}

/* skills section end */

/* project section start */

.projects {
    padding: 80px 10%;
}

.projects h2 {
    text-align: center;
    font-size: 32px;
    color: #38bdf8;
    margin-bottom: 40px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.project-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    border: 1px solid #38bdf8;
}

.project-card h3 {
    font-size: 20px;
    color: #38bdf8;
    margin-bottom: 10px;
}

.project-card .tag {
    font-size: 14px;
    color: #facc15;
    margin-left: 10px;
}

.project-card p {
    font-size: 16px;
    color: #cbd5f5;
    margin-bottom: 10px;
}

.project-card .tech-stack {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 15px;
}

.project-links .btn {
    margin-right: 10px;
    font-size: 14px;
    padding: 8px 18px;
}


/* project section end */